* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
header {
  background-color: #d9d9d9;
  width: 100%;
  padding: 1rem;
}
nav {
  background-color: #242527;
}
nav ul {
  display: flex;
  padding-left: 1rem;
  list-style-type: none;
}
nav ul li {
  padding: 1rem 1.5rem;
}
nav ul li a {
  color: aliceblue;
  text-decoration: none;
  transition: 0.15s;
  font-size: 1rem;
}
nav ul li a:hover {
  color: gold;
}
.active {
  color: gold;
}
.headerTitle {
  font-size: 2.5rem;
}
@media screen and (max-width: 625px) {
  nav ul {
    flex-direction: column;
  }
}

main {
  padding: 1.5rem;
}
.sectionText {
  display: flex;
}

section.left {
  padding-right: 1.25rem;
}
.sticky {
  position: sticky;
  top: 0;
  width: 100%;
}
